*
{
    margin: 0;
    padding: 0;
}

body
{
    box-sizing: border-box;
    font-family:"C:\Users\Faust\OneDrive\Desktop\Full Stack Web Development\proj1\assets\SourceSansPro-Regular.ttf.woff2" sans-serif;
    z-index: 0;
    margin-bottom: 0px;
    cursor: default;
    position: relative;
}

div.row1,div.row2,div.row3,div.row4{
    display: flex;
    padding: 0px;
}

div.column{
    flex:33.33%;
    padding: 0px;
    position: relative;
    text-align: center;
    color: white;
}

div.bottom-left{
    position: absolute;
    bottom: 8px;
    left: 16px;
}